body {
background-color: #323232;
}

h1 {
color: #ffffff;
text-align: center;
}

h2 {
color: #64e1ff;
}

cr {
color: #ff5555;
display: block;
font-size: 1.5em;
font-weight: bold;
margin-top: 0.83em;
margin-bottom: 0.83em;
/* idk how to make a css thing similar to h2 but different so I'm just recreating h2 :sob: */
}

cc {
color: #55ffff;
display: block;
font-size: 1.5em;
font-weight: bold;
margin-top: 0.83em;
margin-bottom: 0.83em;
}

cp {
color: #aa55ff;
display: block;
font-size: 1.5em;
font-weight: bold;
margin-top: 0.83em;
margin-bottom: 0.83em;
}

cy {
color: #ffff55;
display: block;
font-size: 1.5em;
font-weight: bold;
margin-top: 0.83em;
margin-bottom: 0.83em;
}

cb {
color: #5555ff;
display: block;
font-size: 1.5em;
font-weight: bold;
margin-top: 0.83em;
margin-bottom: 0.83em;
}

cw {
color: #ffcfff;
display: block;
font-size: 1.5em;
font-weight: bold;
margin-top: 0.83em;
margin-bottom: 0.83em;
}

cg {
color: #70ff7a;
display: block;
font-size: 1.5em;
font-weight: bold;
margin-top: 0.83em;
margin-bottom: 0.83em;
}

p {
color: #ffffaf;
border: 2px #ffffff solid;
background-color: #000000;
padding: 0.5em;
}

li {
color: #ffffaf;
border: 2px #ffffff solid;
background-color: #000000;
padding: 0.5em;
}

.cap {
color: #e1e1e1;
max-width: 550px;
width: 100%;
}

ul {
color: #ffffff;
border: 2px #ffffff solid;
background-color: #000000;
padding: 0.5em;
}

a {
color: #aaffff;
}

summary {
color: #000000;
border: 2px #ffffff solid;
background-color: #ff7575;
padding: 1em;
}

footer {
color: #000000;
border: 2px #ffffff solid;
background-color: #000000;
padding: 1em;
text-align: center;
}